# What Western companies are leaving Russia?

*March 18, 2022*

Came across [some interesting data](https://som.yale.edu/story/2022/over-400-companies-have-withdrawn-russia-some-remain) today showing which companies are leaving Russia, and in what way they're leaving (are they fully withdrawing? Permanently? Will they be back?). It's light on actual numbers, but I thought I'd take a look at how you can visualize very text-heavy data in Datawrapper. [Here](https://www.datawrapper.de/_/lrj4C/)'s the final product so you can see what it is I'm working towards!

Start with Pandas and by reading in the data.

In [17]:
import pandas as pd

raw = pd.read_csv("../raw/RAW 2022 YALE COMPANIESLEAVINGRUSSIA.csv")

display(raw.head(3))

                  Name        Type                        Action
0            Accenture  Withdrawal     exiting Russia completely
1              Acronis  Withdrawal  suspend operations in Russia
2  Activision Blizzard  Withdrawal   suspend all sales in Russia

We'll iterate through all the different types of action on Russia (everything in the "Type" column). First, we make a new empty dataframe where the new text strings will go.

In [ ]:
data = pd.DataFrame({"Companies": []})

 We can get all unique values in a column very easily as a list.

In [ ]:
types = raw["Type"].unique()

Finally, we iterate through the types, finding all companies that match a type and joining them together into a long string, in this case each one separated by a comma and a space.

In [21]:
for type in types:
    data.loc[type, "Companies"] = ", ".join(raw.loc[raw["Type"] == type, "Name"].str.strip())
    
display(data)

                                                      Companies
Withdrawal    Accenture, Acronis, Activision Blizzard, Adenz...
Suspension    3M, Abrdn, Adidas, Adobe, ADP, Airbus, Akamai,...
Scaling back  Abbott Labs, Abbvie, ADM, Air Liquide, Allen &...
Digging In    Accor, Air Products, Asus, Auchan, Authentic B...

That's it! You can see above how the companies have been joined together. Now you can [go over to the visualization](https://www.datawrapper.de/_/lrj4C/) to see how I used this output to visualize these companies.

\-30\-