In [30]:
import pandas as pd

pd.options.display.float_format = '{:,.2f}'.format

In [43]:
raw = pd.read_csv("../raw/RAW 2022 UKRAINE DONATIONS.csv")

country_codes = pd.read_csv("../raw/RAW 2022 DATAWRAPPER COUNTRY CODES.csv")

raw["total_donations"] = (raw["Est USD value cash donation"] + raw["Est USD value in-kind donation"]) * 1.25

In [68]:
companies = (raw
             .pivot_table(index=["Private sector donor (company or foundation)", "Country of Registration"], values="total_donations", aggfunc='sum')
             .sort_values("total_donations", ascending=False)
             .astype(float)
             .reset_index()
             .merge(country_codes, how="left", left_on="Country of Registration", right_on="Country")
             .dropna(how="any")
             )

companies["Private sector donor (company or foundation)"] = companies["Code"] + " " + companies["Private sector donor (company or foundation)"]

companies = (companies.loc[companies["total_donations"] > 0, ["Private sector donor (company or foundation)", "Country of Registration", "total_donations"]]
            .set_index("Private sector donor (company or foundation)")
            )
companies.to_clipboard()
companies

,Country of Registration,total_donations
Private sector donor (company or foundation),,
:nl: Ikea Foundation,Netherlands,"34,375,000.00"
:gb: XTX Markets,United Kingdom,"16,484,000.00"
:il: Teva Pharmaceutical Industries Ltd.,Israel,"13,950,000.00"
:gb: BP plc,United Kingdom,"12,500,000.00"
":jp: Fast Retailing Co., Ltd.",Japan,"12,500,000.00"
...,...,...
:us: Sologenic Development Foundation,United States of America,"12,500.00"
:kr: Slurp Laboratories,South Korea,"12,500.00"
:us: Darktrace,United States of America,"12,500.00"
:ca: Fuller Giving Foundation,Canada,"12,500.00"
:lu: Vodafone Luxembourg Foundation,Luxembourg,"8,521.25"

In [32]:
countries = (raw
             .pivot_table(index="Country of Registration", values="total_donations", aggfunc='sum')
             .sort_values("total_donations", ascending=False)
             .astype(float)
             )

countries

                                  total_donations
Country of Registration
United Kingdom                      57,664,018.75
United States                       34,962,750.00
Netherlands                         34,375,000.00
Denmark                             23,925,291.25
Japan                               21,442,500.00
United States of America            20,137,390.93
Israel                              13,950,000.00
Germany                             11,308,143.65
France                               8,229,598.26
Australia                            5,000,000.00
Spain                                4,254,483.12
Luxembourg                           3,414,771.25
Cayman Islands                       3,125,000.00
Canada                               2,156,116.25
Ukraine                              1,875,000.00
Italy                                1,581,190.00
Switzerland                          1,316,616.93
South Korea                          1,262,500.00
Saint Vincent and the Grenadines     1,250,000.00
Bermuda                              1,250,000.00
Finland                              1,250,000.00
Czechia                                661,275.62
United States                          372,500.00
Norway                                 197,500.00
Hungary                                137,470.00
Ireland                                136,250.00
Romania                                130,595.31
The Netherlands                         10,218.75

In [33]:
canada = raw.loc[raw["Country of Registration"] == "Canada", :]
canada = (canada
            .loc[:, ["Private sector donor (company or foundation)", "total_donations", "One-sentence description for dataviz"]]
            .groupby(["Private sector donor (company or foundation)"]).sum()
            .sort_values("total_donations", ascending=False)
            )

display(canada)
canada.to_clipboard()

C:\Users\dexmc\AppData\Local\Temp/ipykernel_51624/2986696083.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  canada["total_donations"] = (canada["Est USD value cash donation"] + canada["Est USD value in-kind donation"]) * 1.25

                                              total_donations
Private sector donor (company or foundation)
Canadian Pacific Railway                           625,000.00
Canadian Imperial Bank of Commerce                 197,500.00
Sun Life Financial Inc.                            197,500.00
RBC                                                197,500.00
TELUS Friendly Future Foundation                   148,125.00
Canada Goose                                        98,991.25
Mondou                                              98,750.00
Russel Metals Inc.Â                                  98,750.00
Ukrainian Credit UnionÂ                              98,750.00
Telus                                               98,750.00
WELL Health                                         98,750.00
BentallGreenOak                                     49,375.00
Metro Supply Chain                                  49,375.00
Home Capital Group                                  49,375.00
Arc'teryx                                           24,625.00
Riverview Community Bank                            12,500.00
Fuller Giving Foundation                            12,500.00

In [42]:
cayman = raw.loc[raw["Country of Registration"] == "Cayman Islands", :]

cayman = (cayman
            .loc[:, ["Private sector donor (company or foundation)", "total_donations", "One-sentence description for dataviz"]]
            .groupby(["Private sector donor (company or foundation)"]).sum()
            .sort_values("total_donations", ascending=False)
            )

cayman

                                              total_donations
Private sector donor (company or foundation)
Binance Charity                                  3,125,000.00