In [1]:
import pandas as pd

In [2]:
raw = pd.read_csv('https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv')

raw

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185430,ZWE,Africa,Zimbabwe,2022-05-07,248214.0,0.0,48.429,5473.0,0.0,0.571,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
185431,ZWE,Africa,Zimbabwe,2022-05-08,248352.0,138.0,63.000,5476.0,3.0,1.000,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
185432,ZWE,Africa,Zimbabwe,2022-05-09,248536.0,184.0,85.857,5479.0,3.0,1.286,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
185433,ZWE,Africa,Zimbabwe,2022-05-10,248642.0,106.0,93.143,5481.0,2.0,1.571,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
185434,ZWE,Africa,Zimbabwe,2022-05-11,248642.0,NaN,NaN,5481.0,0.0,1.429,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN

In [21]:
us = raw.loc[raw["location"] == "United States", ["date", "new_deaths", "total_deaths"]].set_index("date").dropna(how="all")
us["new_deaths"] = us["new_deaths"].rolling(7).mean()

us.loc[us["total_deaths"].between(0, 250000), "0 to 25K"] = us["new_deaths"]
us.loc[us["total_deaths"].between(249999, 500000), "25K to 50K"] = us["new_deaths"]
us.loc[us["total_deaths"].between(499999, 750000), "50K to 75K"] = us["new_deaths"]
us.loc[us["total_deaths"].between(749999, 1000000), "75K to 1M"] = us["new_deaths"]

us

,new_deaths,total_deaths,0 to 25K,25K to 50K,50K to 75K,75K to 1M
date,,,,,,
2020-02-29,NaN,1.0,NaN,NaN,NaN,NaN
2020-03-01,NaN,1.0,NaN,NaN,NaN,NaN
2020-03-02,NaN,6.0,NaN,NaN,NaN,NaN
2020-03-03,NaN,7.0,NaN,NaN,NaN,NaN
2020-03-04,NaN,11.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
2022-05-07,548.285714,997503.0,NaN,NaN,NaN,548.285714
2022-05-08,549.142857,997526.0,NaN,NaN,NaN,549.142857
2022-05-09,541.714286,997740.0,NaN,NaN,NaN,541.714286
2022-05-10,478.714286,998048.0,NaN,NaN,NaN,478.714286
2022-05-11,334.428571,998997.0,NaN,NaN,NaN,334.428571

In [28]:
million_countries = raw[raw["total_deaths"] >= 1000000]
million_countries["location"].unique()

array(['Asia', 'Europe', 'European Union', 'High income',
       'Lower middle income', 'North America', 'South America',
       'Upper middle income', 'World'], dtype=object)