In [11]:
import pandas as pd
import yfinance as yf
import datawrappergraphics as dwg

In [12]:
wti = yf.download("CL=F", start="2020-01-01", end="2022-08-07")

wti

[*********************100%***********************]  1 of 1 completed

                 Open        High        Low      Close  Adj Close   Volume
Date
2020-01-02  61.599998   61.599998  60.639999  61.180000  61.180000   486873
2020-01-03  61.180000   64.089996  61.130001  63.049999  63.049999   885861
2020-01-06  63.709999   64.720001  62.639999  63.270000  63.270000   724236
2020-01-07  62.910000   63.150002  62.110001  62.700001  62.700001   582649
2020-01-08  62.840000   65.650002  59.150002  59.610001  59.610001  1205710
...               ...         ...        ...        ...        ...      ...
2022-07-29  97.300003  101.879997  96.410004  98.620003  98.620003   349374
2022-08-01  98.459999   98.650002  92.419998  93.889999  93.889999   365293
2022-08-02  93.750000   96.470001  92.589996  94.419998  94.419998   328538
2022-08-03  93.830002   96.570000  90.379997  90.660004  90.660004   395099
2022-08-05  88.059998   90.760002  87.010002  88.879997  88.879997   299605

[655 rows x 6 columns]

In [13]:
wti = wti[["Adj Close"]]

wti

                Close
Date
2020-01-02  61.180000
2020-01-03  63.049999
2020-01-06  63.270000
2020-01-07  62.700001
2020-01-08  59.610001
...               ...
2022-07-29  98.620003
2022-08-01  93.889999
2022-08-02  94.419998
2022-08-03  90.660004
2022-08-05  88.879997

[655 rows x 1 columns]

In [14]:
dwg.Chart("5cHLX").data(wti)

INFO:root:SUCCESS: Data added to chart.
INFO:root:SUCCESS: Metadata updated.